<html>
  <head>
    <title>Trollbook</title>
    <link type="text/css" rel="stylesheet" href="/static/style_home.css" media="screen" />
  </head>
  <body>
    <header id="header">
	  <nav>
	    <ul>
	      <li><a href="/home" class="fa fa-camera"><span>Home</span></a></li>
	      <li><a href="/" class="fa fa-power-off"><span>Power-Off</span></a></li>
	      <li><a href="/blog" class="fa fa-lightbulb-o"><span>Blog</span></a></li>
	    </ul>
	  </nav>
	</header>
	<div id = "headings" style="text-align: center; left: -5%;"><h1>TROLLBOOK</h1></div>
     <div id="page">
      {% for art in arts %} 
      <div class="post">
	  <h2 class="title">{{art.title}}</h2>
	  <hr>
	  {% if art.art %}
	  <pre>
	  <div>{{art.art}}</div>
	  </pre>
	  {% endif %}
	  {% if art.troll %}
	  <div><img src = "/image?img_id={{art.troll}}" /></div>
	  {% endif %}
      </div>
      <br>
    {%endfor%}
    
    <form method="post" enctype="multipart/form-data">
	  <div class="title">Title</div></br>
	    <input type="text" name="title" value="{{title}}">
	    </input></br>
	</br><div class="title">Image</div></br><input type = "file" name = "troll" class="button button-style1"></input></br>
	</br><div class="title">Description<div></br>
	    <textarea name="art">{{art}}</textarea></br>
	<div class="error">{{error}}</div></br>
	<input type="submit" class="button button-style1"></input></br>
      </form>
      
      
    </div>
    </div>
  </body>
</html>