<html>
  <head>
    <title>BLOG</title>
    <link type="text/css" rel="stylesheet" href="/static/style_home.css" media="screen" />
  </head>
  <body>
	<header id="header">
	  <nav>
	    <ul>
	      <li><a href="/asciichan" class="fa fa-camera"><span>Trollbook</span></a></li>
	      <li><a href="/" class="fa fa-power-off"><span>Power-Off</span></a></li>
	      <li><a href="/home" class="fa fa-home"><span>Home</span></a></li>
	    </ul>
	  </nav>
	</header>
	<div id = "headings" style="text-align: center; left: -5%;"><h1>BLOG</h1></div>
	<div id="tags">
	  <nav>
		<ul>
			<li class="current-tag"><span>&nbsp;&nbsp;&nbsp;All&nbsp;&nbsp;&nbsp;</span></a></li>
			{% for tag in tags %}
			<li><a href="/blog/tag/{{tag.tag}}"><span>&nbsp;&nbsp;&nbsp;{{tag.tag}}&nbsp;&nbsp;&nbsp;</span></a></li>
			{%endfor%}
		</ul>
	  </nav>
	</div>
	<!-- end #menu -->
		<div id="page">
			{% if entry %}
			{% for ent in entry %} 
			<div class="post">
				<h2 class="title"><a href="/blog/{{ent.ide()}}">{{ent.subject}}</a></h2>
				<div class="meta">Posted On {{ent.created.strftime("%b %d, %Y")}}&nbsp;&nbsp;&nbsp;<a href="/blog/{{ent.ide()}}" class="permalink">READ MORE</a> &nbsp;&nbsp;&nbsp;{% if ent.tag %} Tag :{{ent.tag}} {%else%} tag : general {% endif %}</div>
			<div class="entry">{{ent.rendhome(ent.content) |safe}}</div>
			</div>
			<br>
			{%endfor%}
			{% endif %}
		</div>
	</div>
  </body>
</html>