<html>
  <head>
    <title>Trollbook</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css" media="screen" />
    <link href="http://fonts.googleapis.com/css?family=Abel|Arvo" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/jquery.dropotron-1.0.js"></script>
  </head>
  <body>
    <div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
			      <h1> <a href="/asciichan">Documents</a> </h1>
			</div>
		</div>
	</div>
	<div id="menu-wrapper">
		<ul id="menu">
			<li><a href="/"><span>Homepage</span></a></li>
			<li><a href="/blog"><span>&nbsp;&nbsp;&nbsp;Blog&nbsp;&nbsp;&nbsp;</span></a></li>
			<li class="current_page_item"><a href="/documents"><span>&nbsp;&nbsp;&nbsp;Documents&nbsp;&nbsp;&nbsp;</span></a></li>
			<li><a href="/contact"><span>&nbsp;&nbsp;&nbsp;contact&nbsp;&nbsp;&nbsp;</span></a></li>
		</ul>
		<script type="text/javascript">
			$('#menu').dropotron();
		</script>
	</div>
	<br><br><br>
     <div id="page">
      
      <br><br><br>
  
      {% for doc in docs %} 
      <div class="post">
	  <h2 class="title">{{doc.title}}</h2>
	  <hr>
	  {% if doc.doc %}
	  <div><img src = "/image?img_id={{doc.doc}}" /></div>
	  {% endif %}
      </div>
      <br>
    {%endfor%}
    
    <form method="post" enctype="multipart/form-data">
	  <div class="title">Title</div></br>
	    <input type="text" name="title" value="{{title}}">
	    </input></br>
	</br><div class="title">Document (jpeg/png)</div></br><input type = "file" name = "doc"></input></br>
	<div class="error">{{error}}</div></br>
	<input type="submit"></input></br>
      </form>
      
      
    </div>
    </div>
  </body>
</html> 
