<html>
  <head>
    <title>Home | amourphious</title>
    <meta content="">
    <link rel = "stylesheet" type = "text/css" href = "/static/style_home.css">
  </head>
  <body>
    <header id="header">
      <nav>
	<ul>
	  <li><a href="/asciichan" class="fa fa-camera"><span>Trollbook</span></a></li>
	  <li><a href="/" class="fa fa-power-off"><span>Power-Off</span></a></li>
	  <li><a href="/blog" class="fa fa-lightbulb-o"><span>Blog</span></a></li>
	</ul>
      </nav>
    </header>
    <div id="headings">
      <br>
      <h1> Hello World!!</h1>
      <h2><i>shivam.printGreetings( </i>" Welcome "<i> );</i></h2>
      <br>
      <h2>about me:</h2>
      <p>I am a programmer and FOSS enthusiast, I am a contributor at KDE.</p>
      <p>Most of my contributions are aimed towards the KDE keyboard module.</p>
      <p>I am also a web developer and designer.</p>
      <br>
      <h2>qualifications:</h2>
      <p>I am B.tech (CSE) graduate from Delhi in India</p>
    </div>
    <footer id="footer">
    </footer>
    <footer id="footer">
      <span class="copyright">&copy; amourphious.</span>
    </footer>
  </body>
</html> 