<html>
  <head>
    <title>Home | amourphious</title>
    <meta content="">
    <link rel = "stylesheet" type = "text/css" href = "/static/style_home.css">
  </head>
  <body>
    <header id="header">
      <nav>
	<ul>
	  <li><a href="/asciichan" class="fa fa-camera"><span>Trollbook</span></a></li>
	  <li><a href="/" class="fa fa-power-off"><span>Power-Off</span></a></li>
	  <li><a href="/blog" class="fa fa-lightbulb-o"><span>Blog</span></a></li>
	</ul>
      </nav>
    </header>
    <div id="headings">
      <p><i>[amourphious@jarvis]$:</i> shivam --printGreetings</p>
      <h1 style="text-align: center"> Hello World!!<span id = "typed-cursor" class="blinking">_</span></h1>
      <p><i>[amourphious@jarvis]$:</i>shivam --whoAmI</p>
      <h2>Name: <i>Shivam Makkar</i></h2>
      <h2>Proficiency: <i>Programming</i></h2>
      <h2>Interests: <i>Application Develpoment &nbsp;&bull;&nbsp; Web Development &nbsp;&bull;&nbsp; Computer Graphics and Animation</i></h2>
      <h2>Languages Of Choice: <i>C++ &nbsp;&bull;&nbsp; Python &nbsp;&bull;&nbsp; Java &nbsp;&bull;&nbsp; C#</i></h2>
      <h2>Contributor at KDE &nbsp;&bull;&nbsp; Keyboard Module</h2>
      <br>
      <p><i>[amourphious@jarvis]$:</i>shivam --activities </p>
      <h2>Proficiency: <i>Gaming &nbsp;&bull;&nbsp; Sleeping</i></h2>
      <h2>Weapon of Choice: <i>Killer Pj's</i></h2>
      <h2>Vocation: <strike>Enginear</strike>&nbsp;&bull;&nbsp;<strike>Enginere</strike>&nbsp;&bull;&nbsp;<strike>Enjneer</strike>&nbsp;&bull;&nbsp;I am good with Maths !<span id = "typed-cursor" class="blinking">_</span></h2>
    <footer id="footer">
    </footer>
    <footer id="footer">
      <span class="copyright">&copy; amourphious.</span>
    </footer>
    </div>
  </body>
</html> 