<html>
  <head>
    <title>BLOG {{post.subject}}</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css" media="screen" />
    <link href="http://fonts.googleapis.com/css?family=Abel|Arvo" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/jquery.dropotron-1.0.js"></script>
  </head>
  <body>
  
    <div id = "top-menu">
				{% if username %}
				<a href = "/blog/logout">Logout
				<a href="/blog" style='border-left:1px solid #616161'><img src="/static/images/genadiy.png" alt='members' style=" float : right ;" />{{username}} </a>
				{% else %}
				<a href = "/blog/login"> Login
				<a href="/blog/signup" style='border-left:1px solid #616161'> Signup </a>
				{% endif %}
    </div>
    <div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
			      <h1> <a href="/blog">Shivam's BLOG</a></h1>
			</div>
		</div>
	</div>
	<div id="menu-wrapper">
		<ul id="menu">
			<li><a href="/"><span>Homepage</span></a></li>
			<li class="current_page_item"><a href="/blog"><span>&nbsp;&nbsp;&nbsp;Blog&nbsp;&nbsp;&nbsp;</span></a></li>
			{% for tag in tags %}
			<li><a href="/blog/tag/{{tag.tag}}"><span>&nbsp;&nbsp;&nbsp;{{tag.tag}}&nbsp;&nbsp;&nbsp;</span></a></li>
			{%endfor%}
			<li><a href="/contact"><span>&nbsp;&nbsp;&nbsp;contact&nbsp;&nbsp;&nbsp;</span></a></li>
		</ul>
		<script type="text/javascript">
			$('#menu').dropotron();
		</script>
	</div>
      <div id="page">
	<div class="post">
	  <h2 class="title"><a href="/blog/{{post.ide()}}">{{post.subject}}</a></h2>
	  <div class="meta">Posted On {{post.created.strftime("%b %d, %Y")}}</div>
	  <div class="entry">{{post.content | safe}}</div>
	  <div> {% if post.tag %} Tags : {{post.tag}} {%else%} Tags : general {% endif %}</div>
	</div>
      </div>
      <br>
      <div id="page">
	    <h2 class="title">{{post.subtag}}</h2>
      </div>
      <br> <br> <br>
      <div id ="page"><h2 class = "title"> Comments </h2></div>
      <div id = "page">
	{% for comment in comments %}
	<div class = "post">
	  <h2 class = "content">{{comment["posted_by"]}}</h2>
	  <div class="meta">Posted On {{comment["posted_on"].strftime("%b %d, %Y")}}</div>
	  <div class="entry">{{comment["comment"]|safe}}</div>
	</div>
	{% endfor %}
      </div>
	<br><br><br>
      <div id="page">
	<form method="post" id="formo">
	<div class="post">
	<label><div class="title">Username</div></label><input type="text" name="posted_by" class="input"></input>
	<label><div class="title">Comment</div></label><textarea name="comment"></textarea>
	<div class="error">{{error}}</div>
	<input type="submit" value = "comment" ></input>
      </div>
      </form>
    </div>
      <br>
      </div>
    </div>
   </body>
</html>