<html>
  <head>
    <title>BLOG SIGNUP</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css" media="screen" />
    <link href="http://fonts.googleapis.com/css?family=Abel|Arvo" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <div id = "top-menu">
	<a href = "/blog" >Go to Blog</a>
	<a href="/" style='border-left:1px solid #616161'> Go to Home </a>
  </div>
    <div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
			      <h1> <a href="/blog/signup">SIGNUP</a></h1>
			</div>
		</div>
	</div>
	
     <div id="page"> 
      <div class="post">
	   <form method="post">
	      <label class="title">USERNAME &nbsp;&nbsp;&nbsp;<input name="username" type="text" value="{{usrnm}}">
	      <div style="color: red">{{error1}}</div></label><br>
	      <label class="title">PASSWORD &nbsp;&nbsp;&nbsp;<input name="password" type="password" value="{{pswrd}}">
	      <div style="color: red">{{error2}}</div></label><br>
	      <label class="title">verify password&nbsp;&nbsp;&nbsp;<input name="verify" type="password" value="{{vrfy}}">
	      <div style="color: red">{{error3}}</div></label><br>
	      <label class="title">E-MAIL(Optional)&nbsp;&nbsp;&nbsp;<input name="email" type="text" value="{{mail}}">
	      <div style="color: red">{{error4}}</div></label><br>
	      <input type="submit">
	      <br />
	      <a href = "/blog/login" style = " font-size : 36px ;" onMouseOver="this.style.color='#FFFFFF'" onMouseOut="this.style.color='#6E6E6E'"> <u> already signed up </u> </a>
	   </form>
      </div>
      <br>
    </div>
    </div>
  </body>
</html> 
