<html>
  <head>
    <title>BLOG | {{tg}}</title>
    <link type="text/css" rel="stylesheet" href="/static/style_home.css" media="screen" />
  </head>
  <body>
    <header id="header">
	  <nav>
	    <ul>
	      <li><a href="/asciichan" class="fa fa-camera"><span>Trollbook</span></a></li>
	      <li><a href="/" class="fa fa-power-off"><span>Power-Off</span></a></li>
	      <li><a href="/home" class="fa fa-home"><span>Home</span></a></li>
	    </ul>
	  </nav>
	</header>
	<div id = "headings" style="text-align: center; left: -5%;"><h1>BLOG</h1></div>
	<div id="tags">
	  <nav>
		<ul>
			
			<li><a href="/blog"><span>&nbsp;&nbsp;&nbsp;All&nbsp;&nbsp;&nbsp;</span></a></li>
			{% for tag in tags %}
			{% if tag.tag == tg %}
			<li class="current-tag">&nbsp;&nbsp;&nbsp;{{tag.tag}}&nbsp;&nbsp;&nbsp;</li>
			{%else%}
			<li><a href="/blog/tag/{{tag.tag}}">&nbsp;&nbsp;&nbsp;{{tag.tag}}&nbsp;&nbsp;&nbsp;</a></li>
			{%endif%}
			{%endfor%}
		</ul>
	  </nav>
	</div>
	</div>
		<div id="page">
			{% if entry %}
			{% for ent in entry %} 
			<div class="post">
				<h2 class="title"><a href="/blog/{{ent['ide']}}">{{ent["subject"]}}</a></h2>
				<div class="meta">Posted On {{ent["created"]}}&nbsp;&nbsp;&nbsp;<a href="/blog/{{ent['ide']}}" class="permalink">READ MORE</a> &nbsp;&nbsp;&nbsp;{% if ent["tag"] %} Tag :{{ent["tag"]}} {%else%} tag : general {% endif %}</div>
			<div class="entry">{{ent["content"]|safe}}</div>
			</div>
			<br>
			{%endfor%}
			{% endif %}
		</div>
	</div>
  </body>
</html>